
body {
	font-family: 'Roboto', sans-serif;
		background: -webkit-linear-gradient(left, rgba(74,161,242,1) 0%, rgba(22,101,192,1) 100%);
	background: -o-linear-gradient(left, rgba(74,161,242,1) 0%, rgba(22,101,192,1) 100%);
	background: linear-gradient(to right, rgba(74,161,242,1) 0%, rgba(22,101,192,1) 100%);
	margin: 0;
	
}
header {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 1px 0.1px #000;
}

header  h1{
	text-align: center;
	font-size: 128px;
	color: #fff;
	margin: 0;
	padding: 0;
	
}

header p{
	font-size: 100%;
	text-align: center;
	color: #fff;
	
	margin: 0;
	padding: 0;
}

.circleContainer {
	text-shadow: 0 1px 0.1px #000;
	color:#fff;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
    margin-top: 50px;
	}

.circular_listFirst {
	
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	width: 100px;
	height: 100px;
	border-radius: 3px;
	box-shadow: 0 0 20px 1px #000;
	background: url("pitbull-globalization.jpg");
	background-size: 100% 100%;
	transform: scale(1);
	transition: all 0.10s ease-out;
	}
	
.circular_listFirst:hover {
	transform: scale(1.3);
}

.vote {
	font-size: 150%;
	text-align: center;
	color: #333;
    width: 50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.35);
    
    padding: 20px;
	box-shadow: 0 0 30px 0.1px #000;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #666;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #333;
}


.horde {
	width: 271px;
	height: 533px;
	display: inline-block;
	background: url("horde.png");
	margin-right: auto;
	padding : 0;
	opacity: 0.4;
}

.alli:hover {
	opacity: 1;
}

.horde:hover {
	opacity: 1;
}




