
body {
	font-family: 'Roboto', sans-serif;
	background: -webkit-linear-gradient(left, rgba(74,161,242,1) 0%, rgba(22,101,192,1) 100%);
	background: -o-linear-gradient(left, rgba(74,161,242,1) 0%, rgba(22,101,192,1) 100%);
	background: linear-gradient(to right, rgba(74,161,242,1) 0%, rgba(22,101,192,1) 100%);
	margin: 0;
	
}

.indexContentContainer {
	width: 1028px;
	margin-top: 128px;
	margin-left: auto;
	margin-right: auto;
	
}

.indexContent {
	display: inline-block;
	width: 512px;
	height: 512px;
	background-color: black;
}

.musicbot {
	display: inline-block;
	width: 512px;
	height: 512px;
	background: url("musicbot.png");
	opacity: 0.4;
}

.esports {
	display: inline-block;
	width: 512px;
	height: 512px; 
	background: url("esport.png");
	opacity: 0.4;
	margin-right: ;
}

.musicbot:hover {
	opacity: 1;
}

.esports:hover {
	opacity: 1;
}

.content {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
header {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 1px 0.1px #000;
}

.titles {
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 0.1px #000;
	margin-top: 48px;
}

.titles h1{
	text-align: center;
	font-size: 64px;
	color: #fff;
	margin: 0;
	padding: 0;
}

.titles p{
	font-size: 100%;
	text-align: center;
	color: #fff;	
	margin: 0;
	padding: 0;
}

.titles h2{
	text-align: center;
	margin: 0;
	padding: 0;
	
}

.circleContainer {
	text-shadow: 0 1px 0.1px #000;
	color:#fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    margin-top: 48px;
	}

.circular_listFirst {
	
	display: inline-block;
	margin-left: 24px;
	margin-right: 24px;
	width: 100px;
	height: 100px;
	border-radius: 2px;
	box-shadow: 0 0 20px 1px #000;
	background: url("pitbull-globalization.jpg");
	background-size: 100% 100%;
	transform: scale(1);
	transition: all 0.10s ease-out;
	}
	
.circular_listFirst:hover {
	transform: scale(1.3);
}

.vote {
	font-size: 150%;
	text-align: center;
	color: #333;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.35);
    
    padding: 24px;
	box-shadow: 0 0 30px 0.1px #000;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #666;
    color: white;
    padding: 12px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #333;
}


#howtojoinLink {
	color: #333;
	width: 40%;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.gamesBackgroundContainer {	
	width: 776px;
	height: 256px;
	margin-left: auto;
	margin-right: auto;
	
}

.gamesBackground {
    display: inline-block;
	width: 256px;
	height: 256px;
	background-color: black;
}




.lol {
	width: 256px;
	height: 256px;
	display: inline-block;
	background: url("lol.png");
	padding : 0;
	opacity: 0.4;
}

.wow {
	width: 256px;
	height: 256px;
	display: inline-block;
	background: url("wow.png");
	padding : 0;
	opacity: 0.4;
}

.ow {
	width: 256px;
	height: 256px;
	display: inline-block;
	background: url("overwatch.png");
	padding : 0;
	opacity: 0.4;
}

.ow {
	
}

.wow:hover {
	opacity: 1;
}

.lol:hover {
	opacity: 1;
}

.ow:hover {
	opacity: 1;
}

a:link {
    color: #666;
	text-decoration: none;
}

a:visited {
    color: #666;
}

a:hover {
    color: #333;
}




